/*
<div class="table-wrap">
<div class="table-cell text-center vertical-middle>
div,ul...(elements)
</div>
</div>

elements can be at the center position either horizontal or vertical
*/

.table-wrap{
    display: table;
}

.text-center{
    text-align: center;
}

.table-cell{
    display: table-cell;
}

.vertical-middle{
    vertical-align: middle;
}


/*
for the elements that has property of absolute or fixed
*/
.vertical-middle-ab-fix{
    top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.absolute{
    position:absolute;
}
