//导入的文件不是动态的，只是一个静态快照

@import "utilLessRepository.less";
@import "dataLess.less";

/********************************
1 (util)
<div class="table-wrap">
<div class="table-cell text-center vertical-middle>
div,ul...(elements)
</div>
</div>

you need set the height of .table-cell you want

elements can be at the center position either horizontal or vertical

width:100% because tabel element's default size is 0.if not to set width only depdent on table-cell width ,so probably no center on horizontal
*/

.table-wrap{
    display: table;
    width:100%; 
}

.text-center{
    text-align: center;
}

.table-cell{
    display: table-cell;
}

.vertical-middle{
    vertical-align: middle;
}
/*
***********************************
*/


/*********************************************
for the elements that has property of absolute or fixed
*/
.vertical-middle-ab-fix{
    top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*
***********************************
*/

.absolute{
    position:absolute;
}

/*********************************
for the element's width is 0 that has class of row is absolute
*/
.container .row.absolute
,.container-fluid .row.absolute{
    width: 100%;
}
/*
***********************************
*/

.color-white{
    color: white;
}

.relative{
    position:relative;
}

.color-cyanine{
    color:#3eabb8;
}

.small-mode-date-font{
    font-size:12px;
    font-weight:700;
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.small-mode-title-font{
    font-size:18px;
    font-weight:400;
    line-height:28px;
}

.p-font{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.body-font{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.link-font{
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.transition{
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.relative{
    position: relative;
}

.big-model-big-title-font{
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
}

.big-model-small-title-font{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.big-model-center-blod-font{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; /*Montserrat自定义字体*/
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.bg-gray{
    background-color: #f7f7f7;
}

.text-capitalize{
    text-transform: capitalize;
}

.color-commentText{
    color: #888;
}

.bg-cyanine{
    background-color: #3eabb8;
}

.color-cyanine-hover:hover{
    color: #3eabb8;
}

.bg-white-hover:hover{
    background-color: white;
}

.hover-opacity-down{
    opacity: .5;
}

.bg-white{
    background-color: white;
}

/*************************************************
2(util utilXs) a component for center navbar-nav 
<ul class="nav navbar-center-nav">
                   <li>
                       <a href="#" class="link-arrow-ani">
                           link <span class="glyphicon glyphicon-arrow-right"></span>
                        </a>
                    </li>
                   <li>
                       <a href="#" class="link-arrow-ani">
                       link <span class="glyphicon glyphicon-arrow-right"></span>
                       </a>
                    </li>
                   <li>
                       <a href="#" class="link-arrow-ani">
                           link <span class="glyphicon glyphicon-arrow-right"></span>
                        </a>
                    </li>
               </ul>
*/
.navbar-center-nav>li{
    display: inline-block !important;
}

.navbar-center-nav{
    text-align:center;
}
/*
***************************************************
*/

.footer-font{
    font-size: 13px;
    color: #888;
}

.strong{
    font-weight: 900;
}

.border-circle{
    border-radius: 1000px;
}

.border-1px{
    border-width: 1px;
}

.border-solid{
    border-style: solid;
}

.bg-white{
    background-color:white;
}

.bg-111{
    background-color: #111;
}


/*
特效为字体加大 左边出现由中心向顶部和底部伸展的一个竖条，注意：此类要和nav类同时使用
<ul class="nav nav-left-border">
                            <li><a href="#" class="textNavBtn" role="button"><span>link</span></a></li>
                            <li><a href="#" class="textNavBtn" role="button"><span>link</span></a></li>
                            <li><a href="#" class="textNavBtn" role="button"><span>link</span></a></li>
                            <li><a href="#" class="textNavBtn" role="button"><span>link</span></a></li>
                            <li><a href="#" class="textNavBtn" role="button"><span>link</span></a></li>
                        </ul>

dataLess:
@navLeftBorderColor:#333;
@navLeftBorderBeforeLeft:-30px;
@navLeftBorderBeforeBorderLeftWidth:1px;
@navLeftBorderBeforeBorderStyle:solid;
@navLeftBorderBeforeBorderColor:#333;
@navLeftBorderSpanContent:" ";
@navLeftBorderSpanDisplay:inline-block;
@navLeftBorderBeforeHeight:18px;
*/
.nav-left-border>li>a>span{
    .relative();
    .display(@navLeftBorderSpanDisplay);
    .color(@navLeftBorderColor);
}

.nav-left-border>li>a{
    .transition;
}

.nav-left-border>li>a>span::before{
    .content(@navLeftBorderSpanContent);
    .inline-block();
    .transition();
    .absolute();
    .height(@navLeftBorderBeforeHeight);
    .transformOrigin(center);
    .scaleY(0);
    .left(@navLeftBorderBeforeLeft);
    .borderLeftWidth(@navLeftBorderBeforeBorderLeftWidth);
    .borderStyle(@navLeftBorderBeforeBorderStyle);
    .borderColor(@navLeftBorderBeforeBorderColor);
}

.nav-left-border>li>a:hover{
    font-size: 1.2em;
    background-color: transparent !important;
}

.nav-left-border>li:hover>a>span::before{
    .scaleY(1);
}
