@media (max-width:768px){
    /************************
    2(utilXs util)
    */
    .navbar-center-nav>li{
        display: block !important;
        margin-left: 0px !important;
    }
    .navbar-center-nav{
        text-align: left;
    }
    /*
    *******************************
    */
}
