/*
<div class="table-wrap">
<div class="table-cell text-center vertical-middle>
div,ul...(elements)
</div>
</div>

elements can be at the center position either horizontal or vertical
*/

.table-wrap{
    display: table;
    width:100%; //tabel element's default size is 0.if not to set width only depdent on table-cell width ,so probably no center on horizontal
}

.text-center{
    text-align: center;
}

.table-cell{
    display: table-cell;
}

.vertical-middle{
    vertical-align: middle;
}


/*
for the elements that has property of absolute or fixed
*/
.vertical-middle-ab-fix{
    top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.absolute{
    position:absolute;
}

/*
for the element's width is 0 that has class of row is absolute
*/
.container .row.absolute
,.container-fluid .row.absolute{
    width: 100%;
}

.color-white{
    color: white;
}

.relative{
    position:relative;
}

.color-cyanine{
    color:#3eabb8;
}

.small-mode-date-font{
    font-size:12px;
    font-weight:700;
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.small-mode-title-font{
    font-size:18px;
    font-weight:400;
    line-height:28px;
}

.p-font{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.body-font{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.link-font{
    font-family: font-family:Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.transition{
    transition: all .5s ease-in-out;
}

.relative{
    position: relative;
}

.big-model-big-title-font{
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
}

.big-model-small-title-font{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

